/* Fuente de iconos*/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-n1dj8w');
    src:url('../fonts/icomoon.eot?#iefix-n1dj8w') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-n1dj8w') format('woff'),
        url('../fonts/icomoon.ttf?-n1dj8w') format('truetype'),
        url('../fonts/icomoon.svg?-n1dj8w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;


    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-showMenu:before {
    content: "\e600";
    
}
.icon-hideMenu:before {
    content: "\e601";
  
}
.icon-facebook:before {
    content: "\e602";
    padding-right: 0.5em;
}
.icon-twitter:before {
    content: "\e603";
    padding-right: 0.5em;
}
.icon-github:before {
    content: "\e604";
    padding-right: 0.5em;
}
/*Utilidades*/
.u-containerDefault{
	max-width: 800px;
	margin: 0 auto;
}

.u-title{
	font-weight: normal;
	color: #00DBFF;
	border-bottom: 2px dashed #00DBFF;
	text-align: center;
	padding-bottom: .5em; 
}

/*Header*/

.Header{
	background: url("../images/bg_header.png") no-repeat center;
	background-size: cover;
	margin-top: 3.75em;
	text-align: center;
	padding: 1.2em 0;
}

.Header-imageContainer{
	margin: 0;
}
.Header-image{
	width: 200px;
	height: 200px;
	border: 5px solid white; 
	border-radius: 50%;
}
.Header-link,
.Header-name{
	color:  white;
}
.Header-link{
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
}
.Header-name{
	font-size: 1.5em;
	font-weight: 300;
 	margin: 0;
}

/*Main*/

.MainMenu{
	background: #1E1E1E;
	height: 3.75em;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;

}
.MainMenu-list{
	margin: 0;
	padding: 0;
	
}
.MainMenu-item{
	display: inline-block;

}
.MainMenu-link{
	color: #00DBFF;
	text-decoration: none;
	line-height: 3.75em;
	margin-right: 1.5em;
}
.MainMenu-link:hover{
	color: white;
}

/*Profile*/

.Profile{
	text-align: center;
}

.Profile-link{
	background: orange;
	color: white;
	text-decoration: none;
	margin-right: .5em; 
	padding: .5em 1em;
	display: inline-block;
	border-radius: 2em;
}
.twitter{
	background-color: #3cf;
}
.facebook{
	background-color: #3b5998;
}
.github{
	background-color: #dd4b39;
}
/*Work*/

.Work{
	margin-top: 2em;
	text-align: center;
}
.Work-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.8em;
}
.Work-imageContainer{
	margin: 0;
}
.Work-description{
	color: #515151;
	font-size: 1.1em;
	font-style: italic;
}

/*Footer*/

.Footer{
	background-image: url('../images/bg2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 2em 0;
	text-align: center;
}
.Footer-left{
	display: inline-block;
	max-width: 32em;
	text-align: center;
	vertical-align: top;
	
}
.Footer-title{
	color: white;
}
.footer-description{
	color: white;
	font-size: 1.2em;
}
.Footer-form{
	text-align: center;
	display: inline-block;
}

.Footer-formInput,
.Footer-textarea{
	background: white;
	border: none;
	border-radius: 2em;
	display: block;
	padding: .5em;
	margin: 0 auto 1em;
}
.Footer-textarea{
	resize:none;
}

.Footer-button{
	background: orange;
	color: white;
	border-radius: 1em;
	padding: .5em 1em;
	border:none;
}

@media screen and (max-width: 480px){
	.Profile-link{
		display: block;
		margin-bottom: 0.5em;
		margin-left: 0.5em;
	}
	.Header-image{
	width: 150px;
	height: 150px;
	border: 5px solid white; 
	border-radius: 50%;
	}
}